<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
</head>
<body>
    <%- include('partials/header') %>
    <% if (blogPosts) { %>
        <ul>
            <% blogPosts.forEach(blogPost => { %>
                <li>
                    <a href="/posts/<%= blogPost %>" class="link">
                        <%= blogPost %>
                    </a>
                </li>
            <% }); %>
        </ul>
    <% } %>
    <form action="/post" method="GET" id="form">
        <button type="submit">Create New Post</button>
    </form>
</body>
</html>