
    <html>
        <body>
            <h1>fads</h1>
            <p>fdasfasdfasd</p>
            <a href="/" style="text-decoration:none;"><button>Home</button></a>
            <a href="/edit/fads" style="text-direction:none;"><button>Edit</button>
        </body>
    </html>