
    <html>
        <body>
            <h1>fdad</h1>
            <p>ghay</p>
            <a href="/" style="text-decoration:none;"><button>Home</button></a>
            <a href="/edit/fdad" style="text-direction:none;"><button>Edit</button>
        </body>
    </html>